body{
    background-color: #757575;
}
.nav-extended{
    background-image: url("image/background.jpg");
}
.nav-header h1{
    text-shadow: 2px 2px 15px #000000;
}

.filme{
    height:1000px;
}

.titulo{
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1em;
}

.texto{
    max-width: 900px;
    height: 300px;
}
.btn-delete:hover,.btn-fav:hover{
    box-shadow: 0 0 1em black;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}

.error{
    height:  80vh;
}