body{
    background-color: #e5e5e5;
}
.nav-extended{
    background-image: url("img/capa.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}
.nav-header h1{
    text-shadow: 2px 2px 15px #000000;
}

.titulo{
    padding-bottom: 1em;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}