body {
    background-color: #212121;
}
.nav-header h1 {
    text-shadow: 2px 2px 15px #000000;
}

.body-perfil-usuario{
    height: 60vh;
}

.filme {
    height: 1000px;
}

.titulo {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1em;
}
.texto {
    max-width: 900px;
    height: 300px;
}
.text_white{
    color: #e5e5e5;
}
.card:hover{
    box-shadow: 0 0 1em  white;
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.btn{
    background-color: #000000;
}
.btn:hover{
    background-color: #e5e5e5;
    color: #000000;
}
.material-icons:hover{
    color: #e5e5e5;
    
}
.btn-delete:hover{
    box-shadow: 0 0 1em  white;
}
.btn-delete:hover i {
    color: white;
    transform: scale(1.5);
    transition: all 0.5s ease;
}
.btn-fav{
    background-color: #B71C1C;
}
.btn-fav:hover {
    box-shadow: 0 0 1em  white;
    background-color: #B71C1C;

}
.btn-fav:hover i {
    color: white;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.fadeOut {
    opacity: 0;
    transition: 1s;
}